<!-- Footer -->

<footer class="bg-dark text-white text-center py-4">
  <p>&copy; 2024 Mi Portafolio. Todos los derechos reservados. </p>
  <a class="enlace" href="https://www.instagram.com/?hl=es"><i class="bi bi-instagram"></i></a>
  <a class="enlace" href="https://x.com/?lang=es"><i class="bi bi-twitter-x"></i></a>
  <a class="enlace" href="https://www.linkedin.com/feed/"><i class="bi bi-linkedin"></i></a>
  <a class="enlace" href="https://www.youtube.com/"><i class="bi bi-youtube"></i></a>
  <a class="enlace" href="https://github.com/CarlosRMDev/PruebaED"><i class="bi bi-github"></i></a>
</footer>

