<!-- Sección Sobre Mí -->

<section id="sobre-mi" class="py-5">
  <div class="container">
    <h2 class="text-center">Sobre Mí</h2>
    <p class="text-center">Soy un estudiante apasionado de Desarrollo de Aplicaciones Web con un enfoque en la creación de soluciones eficientes y centradas en el usuario. Me especializo en la construcción de interfaces intuitivas y funcionales, utilizando tecnologías modernas como HTML, CSS, JavaScript, y frameworks como Bootstrap. Actualmente, estoy perfeccionando mis habilidades en diseño de interfaces y el desarrollo de experiencias web interactivas, mientras amplio mis conocimientos en backend y bases de datos.</p>
  </div>
</section>
