<!-- Sección Proyectos -->
<app-aboutme></app-aboutme>
<section id="proyectos" class="py-5 bg-light">
  <div class="container">
    <h2 class="text-center">Aptitudes</h2>
      <div class="row justify-content-center">
        <div class="col-md-4 col-xl-3">
          <div class="card shadow rounded">
            <img src="/img/java.jpg" alt="Logo de Java" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Java</h5>
              <p class="card-text short-text">Desarrollo en Java para aplicaciones backend...</p>
              <p class="card-text full-text">Tengo experiencia en Java, un lenguaje de programación esencial para aplicaciones de backend y desarrollo de software robusto. Mi conocimiento en Java me permite desarrollar aplicaciones eficientes y escalables.</p>
              <a href="#" class="btn btn-primary" id="javabtn">Ver más</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xl-3">
          <div class="card shadow rounded">
            <img src="img/html.jpg" class="card-img-top" alt="Logo de HTML">
            <div class="card-body">
              <h5 class="card-title">HTML</h5>
              <p class="card-text short-text">Desarrollo en HTML para aplicaciones frontend...</p>
              <p class="card-text full-text">Domino HTML, el lenguaje fundamental para el desarrollo web. Conozco bien su estructura y uso para crear páginas web accesibles y bien estructuradas, facilitando una experiencia de usuario clara y funcional.</p>
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xl-3">
          <div class="card shadow rounded">
            <img src="img/php.jpg" class="card-img-top" alt="Logo de PHP">
              <div class="card-body">
                <h5 class="card-title">PHP</h5>
                <p class="card-text short-text">Uso PHP para crear contenido dinámico en la web...</p>
                <p class="card-text full-text">Utilizo PHP para desarrollar páginas web dinámicas e interactivas. Mi habilidad con PHP me permite integrar bases de datos y crear contenido personalizado para cada usuario.</p>
                <a href="#" class="btn btn-primary">Ver más</a>
              </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-4 col-xl-3">
          <div class="card shadow rounded">
            <img src="img/mysql.jpg" class="card-img-top" alt="Logo de MySQL">
            <div class="card-body">
              <h5 class="card-title">MySQL</h5>
              <p class="card-text short-text">Gestión eficiente de bases de datos con MySQL...</p>
              <p class="card-text full-text">Manejo MySQL para gestionar bases de datos de manera eficiente. Mi experiencia en este sistema me permite diseñar, consultar y optimizar bases de datos relacionales, esenciales para aplicaciones con grandes volúmenes de información.</p>
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xl-3">
          <div class="card shadow rounded">
            <img src="img/wordpres.jpg" class="card-img-top" alt="Logo de WordPress">
            <div class="card-body">
              <h5 class="card-title">WordPress</h5>
              <p class="card-text short-text">Desarrollo y gestión de sitios web con WordPress...</p>
              <p class="card-text full-text">Soy competente en el uso de WordPress, desde la instalación hasta la personalización avanzada de temas y plugins. Con esta plataforma, he creado y gestionado sitios web eficientes y adaptados a las necesidades del cliente.</p>
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xl-3">
          <div class="card shadow rounded">
            <img src="img/py.jpg" class="card-img-top" alt="Logo de Python">
            <div class="card-body">
              <h5 class="card-title">Python</h5>
              <p class="card-text short-text">Desarrollo y optimización de scripts en Python...</p>
              <p class="card-text full-text">Tengo experiencia en Python, un lenguaje que empleo para proyectos de desarrollo web y análisis de datos. Gracias a su versatilidad, he desarrollado aplicaciones y scripts para optimizar tareas.</p>
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>

<app-frase></app-frase>
